
{% extends "auctions/layout.html" %}
{% block main %}

{% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endif %}
<main class="container my-4">
    <h1 class="text-center">Weather Data Dashboard</h1>
    <div class="row">
        <!-- Bar Chart -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Line Graph -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="lineGraph"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Chart Container for Pie Chart -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Radar Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="radarChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Polar Area Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="polarChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Doughnut Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="doughnutChart"></canvas>
                </div>
            
            </div>
        </div>
    </div>



    <div class="row">

        <!-- Bubble Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="bubbleChart"></canvas>
                </div>
            </div>
        </div>
        <!-- Scatter Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="scatterChart"></canvas>
                </div>
            </div>
        </div>

    <div>

    <div class="row">


        <!-- Area Chart Container -->
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-body">
                    <canvas id="areaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</main>





{%endblock%}
