{% extends "auctions/layout.html" %}
{% block main %}
<div class="container">
    <h1>Welcome to Our Site!</h1>
    <!-- Django messages framework -->
    {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Your content goes here -->
    <p>This is the home page for our application. Start your journey here!</p>

    <!-- CSRF Token hidden field for AJAX requests -->
    <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Other content and elements you want to include -->
</div>




{% endblock %}

