{% extends "auctions/layout.html" %}
{% block main %}
<div class="container text-center">
    <h1 class="my-4">Welcome to the ACEP Data Visualization Tool</h1>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <p class="lead mb-4">Explore and visualize data with ease. A one-stop solution for the ACEP Data Team's visualization needs.</p>

    <!-- ACEP Logo -->
    <div class="mb-4">
        <img src="https://storage.googleapis.com/ebaylite_images_bucket/auctions/images/ACEPBanner.png" alt="ACEP Logo" class="img-fluid" />
    </div>

    <!-- Link to ACEP Site -->
    <a href="https://www.uaf.edu/acep/" target="_blank" class="btn btn-primary mb-4">Visit ACEP Site</a>

    <!-- Link to Dashboard -->
    <a href="{% url 'dashboard' %}" class="btn btn-success mb-4">Go to Dashboard</a>

    <!-- Data Visualization Image -->
    <div class="mb-4">
        <img src="https://storage.googleapis.com/ebaylite_images_bucket/auctions/images/lineGraphGif.gif" alt="Data GIF" class="img-fluid">
    </div>

    <!-- Air Quality PM 2.5 GIF -->
    {% comment %} <div class="mb-4">
        <img src="https://storage.googleapis.com/ebaylite_images_bucket/auctions/images/AirQualityAlaskaGif.gif" alt="Data GIF" class="img-fluid">

    </div> {% endcomment %}

    <!-- Fairbanks Image -->
    <div class="mb-4">
        <img src="https://storage.googleapis.com/ebaylite_images_bucket/auctions/images/AlaskaMap.jpg" alt="Fairbanks" class="img-fluid" />
    </div>
</div>
{% endblock %}
