{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Data Dashboard{% endblock %}</title>

    <!-- Link to Bootstrap CSS from Google Cloud Storage -->
    <link rel="stylesheet" href="https://storage.googleapis.com/ebaylite_images_bucket/auctions/bootstrap.css">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Local CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}"/> {% endcomment %}

    <!-- FavIcon -->
    <link rel="shortcut icon" href="https://storage.googleapis.com/ebaylite_images_bucket/auctions/favicon.ico">
    {# Bid icons created by Freepik - Flaticon https://www.flaticon.com/free-icons/bid #}

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Script to Initialize Chart.js Charts -->
    <script src="https://storage.googleapis.com/ebaylite_images_bucket/auctions/js/dashboard.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
              </ul>
              <form class="d-flex" action="{% url 'search_results' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                  {% comment %} <li class="nav-item">
                    <span class="navbar-text">Welcome {{ user.username }}</span>
                  </li> {% endcomment %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          
    </header>
    

<main>
    {% block main %}
    <div class="container">
    </div>


    {% endblock %}
</main>
<footer class="footer bg-light">
    <div class="container text-center py-3">
        <p>ACEP Data Team Rocks!</p>
    </div>
</footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS (Uncomment this) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var csrfToken = $('#csrfToken').val();

            $('.watchlist-icon').click(function () {
                console.log("Icon clicked, auction ID: ", $(this).data('listing-id'));
                var auctionId = $(this).data('listing-id');
                var icon = $(this);

                $.ajax({
                    url: '/watchlist/' + auctionId + '/',
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: csrfToken
                    },
                    success: function (response) {
                        if (response.added) {
                            icon.removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            icon.removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function () {
                        console.error('Error toggling watchlist item.');
                    }
                });
            });
        });
    </script> {% endcomment %}
</body>


</html>
