{% extends "auctions/layout.html" %}
{% block main %}

<main>
    <div class="container mt-4">
        <div class="row">
            <!-- Profile column -->
            <div class="col-md-4">
                <div class="card mb-3">
                    {% if user.userprofile.profile_picture  %}
                        <img src="{{ user.userprofile.profile_picture.url }}" class="card-img-top" alt="Profile picture">
                    {% else %}
                        <!-- Display a default image if no profile picture is set -->
                        {% comment %} <img src="{% static 'default-profile.png' %}" class="card-img-top" alt="Default profile picture"> {% endcomment %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ user.get_full_name }}</h5>
                        <p class="card-text">{{ user.userprofile.bio }}</p>
                        <p class="card-text">Age: {{ user.userprofile.age }}</p>
                        <p class="card-text">Interests: {{ user.userprofile.interests }}</p>
                        <p class="card-text">Location: {{ user.userprofile.location }}</p>


  
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                        <a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a>
                    </div>
                </div>
            </div>

            <!-- Middle and Rightmost columns can remain unchanged -->

        </div>
    </div>
</main>

{% endblock %}
